@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e0e10;
  --foreground: #ffffff;
  --primary: #f9f5ec;
  --secondary: #d4a373;
  --terciary: #6b705c;
  --quaternary: #495057;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
